*{
    align-items: center;
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: blanchedalmond;
    text-align: center;
}

ul{
    list-style-type: none;
}

ul li{
    display: block;
    padding: 10px;
}